include include_files
div(class="container")
 each message in messages
  if message.you
   - var className="right"
  else
   - var className="left" 
  div(class="message #{className}")
   div(class="message-content")
    | #{message.message}
   div(class="messageTime")
    | !{new Date(message.dt).toLocaleTimeString()} &emsp;

