include include_files
div(class="container")
 each message in messages
  if message.you
   - var className="right"
  else
   - var className="left" 
  div(class="message #{className}")
   include message
