body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
}

/*Removable*/

/*End Removable*/


/*Message*/
.message {
  margin: 2px;
}

.message-content {
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
}

.message.right {
  margin-left: 20%;
  text-align: right;
}

.message.left {
  margin-right: 20%;
  text-align: left;
}

/*End Message*/