body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
}

/*Message*/
.message {
  position: relative;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  /*border: 1px solid #ccc;*/
  border-radius: 6px;
  margin: 1px;
}

.message.right {
  margin-left: 20%;
  text-align: right;
}
.message.left {
  text-align: left;
  margin-right: 20%;
}

/*End Message*/