div(class="container-fluid") 
 form(class="jumbotron" method="post" action="organisations/create")
  h2(class="") Create Organisation
  div(class="form-group")
   input(type="email" class="form-control" id="email" placeholder="Organisation Email") 
  div(class="form-group")
   input(type="text" class="form-control" id="name" placeholder="Organisation Name")
  div(class="form-group")
   input(type="text" class="form-control" id="siteName" placeholder="Site Name")
   i(class="text-info") Example: 
    b SiteName
    |.Coalsce.com
  div(class="form-group")
   button(class="btn btn-primary") Create  	
