div(class="container") 
 form(class="jumbotron")
  h2(class="") Create Organisation
  div(class="form-group")
   label(for="email") Organisation Email:
   input(type="email" class="form-control" id="email") 
  div(class="form-group")
   label(for="name") Organisation Name:
   input(type="text" class="form-control" id="name")
  div(class="form-group")
   button(class="btn btn-primary") Create  	
