div(class="container-fluid") 
 form(class="jumbotron")
  h2(class="") Create Organisation
  div(class="form-group")
   input(type="email" class="form-control" id="email" placeholder="Organisation Email") 
  div(class="form-group")
   input(type="text" class="form-control" id="name" placeholder="Organisation Name")
  div(class="form-group")
   button(class="btn btn-primary") Create  	
