div(class="container-fluid") 
 form(class="jumbotron")
  h2(class="") Register
  div(class="form-group")
   label(for="org_name") Organisation Name:
   input(type="text" class="form-control" id="org_name") 
  div(class="form-group")
   label(for="name") Name:
   input(type="text" class="form-control" id="name")
  div(class="form-group")
   label(for="email") Email:
   input(type="email" class="form-control" id="email")
  div(class="form-group")
   label(for="password") Password:
   input(type="password" class="form-control" id="password")
  div(class="form-group")
   label(for="c_password") Conform Password:
   input(type="password" class="form-control" id="c_password")
  div(class="form-group")
   button(class="btn btn-primary") Register  	
